li {
	list-style-type: none !important;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 40px;
	color: #4f4e4e;
}
body {
	text-align: center;
	background-color: #04e0c6;
}
h1.heading {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 70px;
	color: #4f4e4e;
}
#left {
	font-family: 'Archivo Black', sans-serif;
	color: #e24174;
	text-shadow: 3px 5px #4f4e4e;
	font-size: 80px;
}
.form-control {
	width: 50%;
	margin: 0 auto;
	height: 50px;
	display: inline;
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
}
button {
	height: 50px;
	width: 70px;
	border: 2px solid #e24174 !important;
}
h4 {
	font-family: 'Archivo Black', sans-serif;
	color: #e24174;
	font-size: 30px;
}